body{
    background-color: burlywood;
}
h1{
    font-size: arial;
}
 nav{
    background-color: aqua;
 }

 nav>li>a>{
    display: inline;
    direction: none;
 }

 .about{
    display: flex;
    background-color: chocolate;
    background-size: ;
 }

.me{
   flex-direction: column;
   background-color: rgb(189, 202, 11);
}