body{
    background-color: burlywood;
}
h1{
    font-size: arial;
}
 nav{
    background-color: aqua;
 }

 nav>li>a{
    display: inline;
    direction: none;
 }

 .about{
    display: auto;
    background-color: chocolate;
    background-size: 200px;
    flex: 1;
    width: 50%;
    margin-left: 20px; 
 }
.art{
   flex-direction: column;
   margin-left: 20px;
}
.me{
   border-radius: 2px;
   flex-direction: column;
   background-color: rgb(189, 202, 11);
}