body{
    background-color: burlywood;
}
h1{
    font-size: arial;
}
 nav{
    background-color: aqua;
    text-decoration: none;
      display: flex;
 }
      .button{
        margin: 5px;
         padding: 10px;
         border-radius: 5px;
         background-color: rgb(28, 85, 104);
      }
 .btn-1{
   padding: 10px;
   border: none;
   background-color: rgb(28, 85, 104);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-shadow: rgb(190, 179, 19);
   font-weight: bold;
}

 nav>li>a{
    display: inline;
    direction: none;
 }

 .about{
    display: auto;
    background-color: chocolate;
    background-size: 200px;
    border-radius: 5px;
    flex: 1;
    width: 50%;
    margin-left: 20px; 
 }
.art{
   flex-direction: column;
   margin-left: 20px;
}
.me{
   border-radius: 2px;
   flex-direction: column;
   background-color: rgb(189, 202, 11);
   text-align: center;
}
.img{
   border-radius: 5px;
   margin-left: 20px;
   }