body{
    background-color: burlywood;
}
h1{
    font-size: arial;}

 a{
    text-decoration: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

 nav{
    background-color: aqua;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
 }
      .button{
        margin: 5px;
         padding: 10px;
         border-radius: 5px;
         background-color: rgb(28, 85, 104);
      }
      
 .btn-1{
   padding: 10px;
   border: none;
   background-color: rgb(28, 85, 104);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-shadow: rgb(190, 179, 19);
   font-weight: bold;
   text-decoration: none;
}

 li>a{
    display: inline;
    direction: none;
    text-decoration: none;
 }

 .about{
    background-color: chocolate;
    background-size: 200px;
    border-radius: 5px;
    flex: 2;
    width: 250px;
    margin: auto;
    margin-left: 20px; 
    flex-direction: column;
    display: inline-block;
    margin-right: 20px;
 }
.art{
   flex-direction: column;
   margin-left: 20px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color:aqua;
   font-style: oblique;
   margin-right: 20px;
}
.me{
   border-radius: 2px;
   flex-direction: column;
   background-color: rgb(189, 202, 11);
   text-align: center;
}
.img{
   border-radius: 5px;
   margin-left: 20px;
   }
   .title{
      font-size: large;
      background-color: rgb(51, 51, 196);
      border-radius: 5px;
      color: white;
      font-weight: bold;
      padding: 2%;
   }