nav{
    background-color: #333;
    overflow: hidden;
    }
nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    nav li{
    list-style-type: none;

    }
nav a:hover{
    background-color: #ddd; 
    color: black;
    }
nav a.active{
    background-color: #04AA6D;  
    color: white;
    }
    .image-with-text {
  /* width: 300px; Adjust to match image dimensions */
  /* height: 200px; /* Adjust to match image dimensions */
  /*background-image: url('patisserie.jpeg');
  background-size: cover;  Ensures the image covers the container */
  display: flex;
  align-items: center; /* Centers text vertically */
  justify-content: center; /* Centers text horizontally */
  color: white; /* Text color */
  font-size: 24px; /* Text size */
  font-weight: bold; /* Optional: makes text bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: adds shadow for better visibility */
}
.front{
    text-align: center;
    padding: 2%;
    margin-top: 2%;
    color: rgb(168, 137, 10);
    border-radius: 5px;
    /*background-image: url(workers.jpg);*/
    background-repeat: none;
    background-position-x: left;
    background-position: center;
    background-size: 100%;  
    padding-top: 3%; 
    margin-left: 2%; 
    font-size: larger;
    word-spacing: 1rem;
    width: 96%;
    align-items: center;
    height: 100%;
}
.front-pics{
    display: flex;
    width: 100%;
    justify-content: center;
    /*gap: 20px;*/
    margin-top: 20px;
    background-color: rgba(133, 7, 49, 0.966);
    border-radius: 5px;
    content: contain;
    }
.front-1{
    width: 30%;
    height: 20%;
    border-radius: 5px;
    display: inline;
    padding: 4%;
}
.front-2{
    width: 70%;
    height: 50%;
    margin: 1% 0%;
    border-radius: 10px;
    display: inline;
    padding: 1%;
}

.front-2:hover{
    transition: 0.5s;
    transform: scale(1.1) ;
}
}

h4{
    text-align: center;
    color: rgb(131, 10, 10);
    font-size: larger;
}
.front-pic-text{
    text-align: center;
    color: white;
    display: inline;
    padding: 0%;
}
.call{
    background-color: #04AA6D;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    padding: 1% 1%;
    margin-left:0%;
    margin-bottom: 2%;
}
.call:hover{
    background-color: #045f3d;
    color: white;
    box-shadow: #333 2px 2px 5px;
}
.end{
    text-align: center;
}
body {
    /*background-image: url(12.JPG);
    background-repeat: none;
    background-size: cover;*/
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    }
.closing {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0px;
    border-bottom: dimgray;
    }

    /* about css*/
    .about-1{
        background-color: brown;
        border-radius: 5px;
        color: white;
        padding: 10px 20px;
        width: 70%;
        margin-left: 16%;
        gap: 2%;
        padding-bottom: 2%;
        padding: 3rem;
        margin: auto;
        margin: 10px 5px;
        margin-left: 15%;
        text-align: center;
    }

    .about-1:hover{
        box-shadow: 2px 0px 5px;
    transition: 0.5s;
    transform: scale(1.1) ;
    }
.about-0{
        background-color: brown;
        border-radius: 5px;
        color: white;
        padding: 10px 20px;
        width: 25%;
        margin-left: 17%;
        gap: 2%;
        padding-bottom: 2%;
        padding: 3rem;
        margin: auto;
        margin: 10px 5px;
        margin-left: 15%;
        text-align: center;
    }
.about-0:hover{
    box-shadow: 2px 0px 5px;
    transition: 0.5s;
    transform: scale(1.1) ;
}
}
    .front-3{
    width: 100%;
    height: 50%;
    margin: 5px 5%;
    border-radius: 10px;
    display: inline;
    padding: 4%;
}

.front-pic-1{
    display: flex;
    justify-content: center;
    /*gap: 20px;*/
    width: 70%;
    height: 20%;
    margin-left: 15%;
    margin-top: 10px;
    background-color: rgb(133, 7, 49);
    border-radius: 5px;
    content: contain;
    }

    .front-pic-3{
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
    background-color: rgb(133, 7, 49);
    border-radius: 5px;
    content: contain;
    }

    .about-img{
        border-radius: 10px;
        margin-left: 8%;
        width: 300px;
        height: 250px; 
        display: inline-flex;
    }
.end-1{
    text-align: center;
    color: rgb(10, 9, 9);
    margin: 4% 4%;
    font-size: large;
    font-weight: bold;

}

.end-3{
    text-align: center;
    color: rgb(24, 15, 15);
    margin: 4% 4%;
    font-size: large;
    font-weight: bold;

}
.worker-info{
    margin-left: 0%;
    display: inline-flex;
    margin:5%;
    align-items: center;
    margin-top: 10%;
}
.scenes{
    display: inline;
    width: 40%;
    height: 40%;
}
.user{
    background-color: #333;
    border-radius: 5px;
    color: #f2f2f2;
    padding: 10px 8px;
    display: inline;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
    }

.info{
    margin-top: 3%;
     background-color: rgb(182, 115, 15);
     width: 50%;
    align-items: center;
     margin-left: 25%;
     border-radius: 5px;
     
    }
.btn{
    background-color: rgb(230, 128, 13);
    border-radius: 5px;
    color: rgba(11, 122, 76, 0.801);
    padding: 10px 20px; 
}

.carousel-section{
    display: block;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-left: 25%;
}
.flt{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.flt-1{
    display: flex;
    margin-left: 8%;
}

